/**
 * MobileMoveTaskModal
 */

.edit-task {

  &__item {
    margin: 40px 20px 20px 20px;
  }

  &__list {
    height: 60px;
    padding: 20px 20px 20px 30px;
    border-bottom: 1px solid $sub-color;
  }
}