/**
 * header
 */

.header {
  position: fixed;
  width: 100%;
  height: 56px;
  border-bottom: 2px solid #eee;
  background: #01015a;
  z-index: 100;
  @include mq('md') {
    position: relative;
    height: 64px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 10px 0;
    line-height: 28px;
    @include mq('md') {
      margin: 0 30px;
      padding: 10px 0;
      line-height: 40px;
    }
  }

  &__logo {
    display: flex;
    text-decoration: none;
    & img {
      width: 28px;
      height: 28px;
      @include mq('md') {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__site-title {
    margin-left: 12px;
    font-size: 20px;
    color: #fff;
    @include mq('md') {
      font-size: 24px;
    }
  }

  &__account {
    display: flex;
  }

  &__user-name {
    margin-right: 20px;
  }

  &__icon {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 28px;
    color: #FFF;
    @include mq('md') {
      margin-right: 40px;
      font-size: 24px;
      line-height: 40px;
    }
  }

  &__nav {
    position: absolute;
    right: 30px;
    top: 70px;
    width: 112px;
    text-align: center;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  }

  &__list {
    &:hover {
      background: $sub-color;
      color: #fff;
    }
  }

  &__logout-button {
    @include button-style(112px);
    background: orange;
    color: white;
    font-weight: bold;
    border: none;
  }
}

.menu{
  &__button {
    position: relative;
    width: 28px;
    height: 20px;
    margin-top: 6px;
    z-index: 1000;
  }

  &__top {
    position: absolute;
    top: 0;
    width: 100%;
    border: 2px solid #FFF;
    border-radius: 20%;
    transition: 0.25s;
  }

  &__middle {
    position: absolute;
    top: 50%;
    width: 100%;
    border: 2px solid #FFF;
    border-radius: 20%;
    transition: 0.25s;
  }

  &__bottom {
    position: absolute;
    top: 100%;
    width: 100%;
    border: 2px solid #FFF;
    border-radius: 20%;
    transition: 0.25s;
  }

  &__nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background: $sub-color;
    z-index: 500;
    transform: translate(100%, 0);
    transition: 0.25s;
  }

  &__list {
    width: 100%;
    margin-top: 60px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    border-bottom: 1px solid $base-color;
  }
}

.open {
  transform: translate(0, 0);
  z-index: 500;
}

.open-top {
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  transition: 0.25s
}

.open-middle {
  opacity: 0;
  transition: 0.25s;
}

.open-bottom {
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transition: 0.25s
}
