/**
 * top
 */

.top {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  background-color: #fff;
  @include mq('lg') {
    padding-top: 80px;
    margin-bottom: 0px;
  }

  &__flash-message {
    position: absolute;
    top: 100px;
    left: 40%;
    background: lime;
    padding: 10px 40px;
    border-radius: 10px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 360px;
    margin: 0 auto;
    @include mq('lg') {
      width: 960px;
      justify-content: left;
    }
  }

  &__card {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 46%;
    height: 140px;
    margin: 6px;
    background: #fff;
    border-radius: 15px;
    border: 2px solid $sub-color;
    cursor: pointer;
    & p {
      font-size: 18px;
      font-weight: bold;
    }
    @include mq('lg') {
      position: relative;
      width: 180px;
      height: 180px;
    }
  }

  &__dot {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    @include mq('lg') {
      top: 20px;
      right: 19px;
    }
  }

  &__menu-list {
    position: absolute;
    right: 10px;
    width: 80%;
    font-size: 12px;
    border: 2px solid $sub-color;
  }

  &__mobile-menu-list {
    position: fixed;
    bottom: 0;
  }

  &__list {
    background: #fff;
    border-bottom: 1px solid $sub-color;
    padding: 10px 10px;
    &:last-of-type {
      border: none;
    }
    &:hover {
      background: $sub-color;
    }
  }

  &__leader {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 12px;
    @include mq('lg') {
      bottom: 20px;
      right: 20px;
      font-size: 12px;
    }
  }

  &__icon {
    margin-bottom: 10px;
    font-size: 24px;
    color: $sub-color;
    @include mq('lg') {
      font-size: 36px;
    }
  }
}


/**************************************
 * レスポンシブのメニュー
 **************************************/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transform: translate(0, 100%);
  transition: 0.1s;
  z-index: 100;

  &__container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background: orange;
    z-index: 200;
  }

  &__list {
    display: block;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #FFF;
    &:last-child {
      border-bottom: none;
    }
    & span {
      font-size: 20px;
      margin-left: 40px;
    }
  }

  &__icon {
    font-size: 20px;
    margin-left: 20px;
  }
}

.list-open {
  transform: translate(0, 0);
  transition: 0.1s;
}
